body,html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: body;
    letter-spacing: 1px;
    background: #DAD7CD;
    color: #676767;
}

body {
    background-size: cover;
    background-color: #c3b091;
}

#vanta {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

main {
    position: relative
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2em;
}

.pic {
    width: 8em;
    height: 8em;
    border-radius: 100px;
    border: 1px solid #c8e0e0;
    box-shadow: #1c205d3d 0 2px 8px;
}

.nameBox {
    display: inline-block
}

.name {
    margin: 4px 0;
    font-size: 65px;
    font-family: header;
    color: #c8e0e0;
    -webkit-text-stroke: 1px #676767;
    text-shadow: 1px 1px 0 #676767;
}

.icon1 {
    background-color: #c8e0e0;
    width: 20px;
    height: 20px;
    border-radius: 1em;
    padding: .5em;
    transition: .3s ease-in-out 0s;
    transform: scale(.98)
}

.icon1:hover {
    cursor: pointer;
    transform: scale(1);
    transform: translateZ(0);
    backface-visibility: hidden
}

.socials {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-content: space-around;
    width: 200px
}

.bio {
    font-family: body;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0px;
    border-radius: 1em;
    background-color: #c8e0e0;
    color: #676767;
    padding: .7em 1em;
    border: .8px solid #c8e0e0;
    backdrop-filter: blur(10px) saturate(100%) contrast(160%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%)
}

.bio p {
    margin: 0
}

.boxes {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
    flex-wrap: wrap;
    column-gap: 5%;
    max-width: 1000px;
    list-style: none;
    margin: 1em auto;
    padding: 0 2em 2em;
    align-items: start;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 10px;
}

ul>li {
    background-color: #c8e0e0;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: #1c205d3d 0 2px 8px;
    transition: .3s ease-in-out 0s;
    transform: scale(.98)
}

.li2 {
    background-color: #abd4d4;
}

.box:hover {
    cursor: pointer;
    transform: scale(1.2);
    transform: translateZ(0);
    backface-visibility: hidden;
}

.info {
    display: inline-flex;
    margin-bottom: .2em
}

.icon {
    padding-right: 10px
}

.title {
    font-family: title;
    font-size: 18px;
    margin: 0
}

.p {
    font-family: body;
    font-size: 13px;
    margin: 0
}
.title {
    display:flex;
    justify-content: space-between
}

ul>li>a {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left
}

.frame {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 0
}

.frame1 {
    left: 0;
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%
}

a {
    color: #676767;
    text-decoration: none;
    font-size: 1.1em
}

.footer {
    display: block;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    margin-top: 8px;
    padding-bottom: 1rem;
    width: 100%;
    height: 3rem
}

.footer>h1 {
    font-size: 1.3em;
    font-family: header;
    color: #c8e0e0;
    line-height: 5px;
    text-shadow: -1px 2px black;
}

iframe{
    width: 100%;
    aspect-ratio: 16/9;
}

.visual1{
    width: 100%;
    height: fit-content;
    aspect-ratio: 16/9;
}

.box .hide {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.6s ease, max-height 1s ease;
  }
  
  .box:hover .hide {
    opacity: 1;
    max-height: 1000px; /* Adjust this value to a larger number if necessary */
  }
  
  video {
    width: 100%;
    aspect-ratio: 16/9;
  }